body{
	margin:0; /*внешний отступ*/
	padding: 0;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.content{

	display: flex;
	flex:auto;
	justify-content: space-between;
	margin-top: 150px;
}

.flex{
	display: flex;
	flex:auto;
	justify-content: flex-start;
}

.form{
	width: 420px;
	height: 420px;
	
}

.image { 
	width: 420px; 
	height: 420px; 
	margin-bottom: -100px;
	border: none; 
}

.image1 { 
	width: 420px; 
	height: 420px; 
	margin-bottom: -100px;
	border: none; 
}

.pressed-button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  margin-left: 118px;
}
.pressed-button:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.pressed-button1{
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  margin-left: 80px;
}

.pressed-button1:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.pressed-button2{
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  margin-left: 18px;
}

.pressed-button1:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.pressed-button3 {
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  margin-left: 100px;
}
.pressed-button3:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.pressed-button4 {
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  margin-left: 100px;
}
.pressed-button4:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.my_form {
	display: flex;
	flex:auto;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 300px;
	border-radius: 10px;
	
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif; # Шрифт. 
    letter-spacing: 1px; # Расстояние между буквами
}

.str {
	margin-left: 45px;
	font-size: 14px;
}

.text {
  width: 400px;
  margin-left: 45px;
}

.kn {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  width: 250px;
  height: 35px;
  margin-left: 120px;
} 
.kn:hover { background: rgb(53, 167, 110); }
.kn:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.str {
	margin-left: 50px;
}
.my_form1 {

	display: flex;
	flex:auto;
	flex-direction: column;
	justify-content: center;
	width: 630px;
	height: 350px;
	border-radius: 10px;
	
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif; # Шрифт. 
    letter-spacing: 1px; # Расстояние между буквами

}

.kn1 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  width: 250px;
  height: 35px;
  margin-left: 178px;
} 
.kn1:hover { background: rgb(53, 167, 110); }
.kn1:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.kn2 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.kn2:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.kn2:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.str1 {
	margin-left: 150px;
}

.str2 {
	margin-left: 28px;
}

.my_form2 {

	display: flex;
	flex:auto;
	flex-direction: column;
	justify-content: center;
	width: 480px;
	height: 200px;
	border-radius: 10px;
	
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif; # Шрифт. 
    letter-spacing: 1px; # Расстояние между буквами

}

.str3 {
	margin-left: 100px;
}

.str4 {
	margin-left: 70px;
}

.str5 {
	padding-left: 170px;
}

.otst {
	margin-top: 50px;
}

.my_form3 {

	display: flex;
	flex:auto;
	flex-direction: column;
	justify-content: center;
	width: 580px;
	height: 400px;
	border-radius: 10px;
	
	box-shadow: 0 4px 16px #ccc;
	font-family: sans-serif; # Шрифт. 
    letter-spacing: 1px; # Расстояние между буквами

}